<!DOCTYPE html>
<html>

<head>
    <style>
        .Rounded {
            border-radius: 25px;
            border: 2px solid #a5a5a5;
            padding: 20px;
            width: 300px;
            height: 200px;
        }
    </style>
</head>

<body>
    <div class="Rounded">
        <p> First name: <%= s.fname %> </p>
        <p> Last name: <%= s.lname %> </p>
        <p> ID: <%= s.id %> </p>
        <p> Average: <%= s.avg %> </p>
    </div>
</body>

</html>